body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body,
header,
nav,
footer,
section,
article,
div {
    box-sizing: border-box;
}

header {
    box-shadow: 0 4px 0 0 rgba(0,0,0,0.6);
}

h1 {
    letter-spacing: 3px;
    font-size: 2.3em;
}

a,
p,
h1 {
    text-decoration: none;
    color: #2d3c49;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
}

img {
    transition: width 0.5s;
}

.container {
    padding: 3em 3em 0 3em;
}

.header-container {
    width: 100%;
    display: flex;
}

.header-image {
    width: 30%;
    margin: auto;
}

.header-image-width {
    width: 25%;
}

.header-text {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.header-text-title,
.header-text-subtitle {
    float: right;
    margin: 0;
}

.banner {
    padding: 2em 0 0 0;
    height: 35em;
}

.banner-img {
    width: 100%;
    max-height: 100%;
}

.job-title {
    padding-left: 1em;
}

.job-title-text {
    color: #7d97ad;
    font-family: "Raleway", sans-serif;
    font-size: 2em;
    letter-spacing: 2px;
}

.jobs {
    display: flex;
}

.jobs-title {
    font-size: 2em;
    letter-spacing: 3px;
    margin: 0.5em 0;
}

.jobs-image {
    width: 100%;
}

.job-1,
.job-2,
.job-3 {
    height: 100%;
    text-align: center;
}

.job-1-content,
.job-2-content,
.job-3-content {
    height: 70%
}

.job-2 {
    margin: 0 2em;
}

footer {
    height:90px;
    color:#2d3c49;
    font-weight:bold;
    text-align:center;
    padding-top: 1.5em;
    margin-top: 30px;
    box-shadow: inset 0 4px 0 0 rgba(0,0,0,0.6);
 }

 @media(max-width: 400px) {
    .jobs-title {
        font-size: 1.5em;
    }

    .jobs-link {
        font-size: 0.8em;
    }

    .footer-text {
        font-size: 0.8em;
    }
 }

@media(max-width: 640px) {
    .header-container {
        flex-direction: column;
    }

    .header-image {
        text-align: center;
        width: 50%;
    }

    .header-text {
        width: 100%;
    }

    .header-text-title,
    .header-text-subtitle {
        text-align: center;
        float: none;
    }

    .banner {
        padding: 2em 0 0 0;
        height: 15em;
    }
}

@media(min-width: 641px) and (max-width: 800px) {
    .banner {
        height: 20em;
    }
}

@media (max-width: 1174px) {
    .jobs {
        flex-direction: column;
    }

    .job-2 {
        margin: 3em 0 0 0;
    }

    .job-3 {
        margin: 3em 0 3em 0;
    }
 }